.app {
    display: grid;
    grid-template-columns: minmax(auto, 800px);
    grid-template-rows: 100px 50px minmax(100px, min-content) 70px;
    padding-top: 5rem;
    min-height: 50vh;
    text-align: center;
    justify-content: center;
    align-items: center;

    &-title {
        font-size: 44px;
        text-transform: uppercase;
        letter-spacing: 1.5px;

    }
}